#root {
    font-family: Arial, Helvetica, sans-serif;
}

.product-page {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.product-page__top-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.product-page__image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 512px;
    min-width: 300px;
}

.product-page__image-container img {
    max-width: 100%;
    height: auto;
}

.product-page__center {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-page__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.product-page__right p {
    color: green;
    font-weight: bold;
}

.product-page__right button {
    background-color: #fddd4e;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.product-page__right button:hover {
    box-shadow:0px 0px 3px 0px #000000;
}

.product-reviews-container {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.product-review {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

#root .app-container .product-page .product-reviews-container .product-review p{
    width:37% !important;
   }
