.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

::web-kits-scrollbar {
    display: none;
  }

.category-name{
    display:flex;
    justify-content:center;
   }

.product-item {
    display: flex;
    border: 1px solid #e0e0e0;
    padding: 10px;
    width: 800px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-decoration: none;
}

.review-placeholder {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
