.reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.category-name {
    display: flex;
    justify-content: center;
}

.review-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    padding: 10px;
    width: 800px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.review-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.review-content {
    display: flex;
    flex-grow: 1;
}

.review-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 20px;
}

.review-product-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-decoration: none;
}

.review-text {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.review-rating {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-btn {
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    text-align: center;
}

.edit-review-btn:hover,
.delete-review-btn:hover {
    background-color: #f5f5d5;
}

.delete-review-btn {
    background-color: #ff6b6b;
    color: white;
}

.delete-review-btn:hover {
    background-color: #ff8888;
}

#root .review-item .delete-review-btn{
    font-size:12px;
    font-weight:500;
   }

   #root .review-details a{
    color:#000000;
    text-decoration:none;
   }

   #root .review-details a:hover{
    color:#ad7412;
    text-decoration:underline;
   }
