/* Container */
.login-container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-logo-container img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.login-content-container {
    background-color: #fff;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    position: relative;
    width: 100%;
}

input {
    padding-right: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    width: 100%;
}

input:focus {
    border-color: #0077b6;
}

.login-new button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: yellow;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-new button:hover {
    background-color: #ffd60a;
}

.login-error-message {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    pointer-events: none;
}

.login-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


#root .login-logo-container img{
    transform: translatey(-109px);
   }
   
   #root .login-content-container{
    transform: translatey(-89px);
   }

   #root .login-new h4{
    transform: translatey(-69px);
   }

   #root .login-new button{
    transform: translatey(-83px);
    width:224px;
   }

   #root .login-container-main{
    transform:translatex(0px) translatey(0px);
   }
