.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between logo and login content */
    align-items: center;
    min-height: 100px;
  }

.login-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

#root .login-container{
  padding-left:84px;
  padding-right:78px;
 }

 /* Heading */
 #root h1{
  justify-content:normal;
  transform: translatex(-78px) translatey(-14px);
 }

 /* Label */
 #root label{
  padding-top:0px;
  padding-bottom:30px;
 }


  .login-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* flex-grow: 1; */
    border-style:solid;
    border-color:#dddddd;
    border-width:2px;
  }

  .logo-container {
    margin-top: 20px;
  }

  .logo-container img{
    max-width:371px;
    width:194px;
   }



  .logo-image {
    width: 100px;
    height: auto;
  }

  .login-credentials {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .create {
    border-style:none;
    background-color:#f1c40f;
    width:215px;
    height:43px;
    border-radius: 20px;
    cursor: pointer;
  }
