.hidden {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo-image {
    width:114px;
  }

  .nav-list li a{
    color:#ffffff;
    font-weight:700;
    text-decoration:none;
   }

   .nav-list .login-item {
    margin-left: auto; /* Pushes the "Log In" link to the right */
  }
