
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav-list a i{
  margin-left:10px;
  padding-right:55px;
 }

 .navbar .nav-list .search-container{
  display:flex;
  justify-content:center;
  align-items:center;
 }


.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 15px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: auto;
  max-height: 80px;
  height: auto;
  margin-right: 10px;
}

.search-bar {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.search-button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.login-item a {
  color: white;
  text-decoration: none;
}

.login-item:hover a {
  text-decoration: underline;
}

.account-info {
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 15px;
  list-style: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  padding: 10px;

}

.profile-dropdown li {
  padding: 5px 10px;
}

.profile-dropdown.hidden {
  display: none;
}

/* styles for the second container (category links) */
.categories-container {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px 0;
}

.categories-container a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.categories-container a:hover {
  background-color: #555;
}

.text-decorating {
  color: white;
}
