body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::web-kits-scrollbar {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav-list a i {
  margin-left: 10px;
  padding-right: 55px;
}

.nav-bar .nav-list .nav-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-list li {
  margin: 0 15px;
}

.logo-image {
  width: auto;
  max-height: 80px;
  height: auto;
  margin-right: 10px;
}

.nav-search-bar {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.nav-search-button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.nav-login-item a {
  color: white;
  text-decoration: none;
}

.nav-login-item:hover a {
  text-decoration: underline;
}

.profile-container {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  width: 300px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}
.nav-login-item ul{
  transform:translatex(-148px) translatey(12px);
 }


.profile-dropdown {
  display: flex;
  width: 300px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.profile-dropdown .user-details {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.profile-dropdown .user-details li {
  padding: 5px 10px;
}

.profile-dropdown .actions {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.profile-dropdown .actions button {
  background-color: #fddd4e;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.profile-dropdown .actions button:hover {
  background-color: #fccc2e;
}

.profile-dropdown.hidden {
  display: none;
}

.nav-categories-container {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px 0;
}

.nav-categories-container a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-categories-container a:hover {
  background-color: #555;
}

.profile-text {
  color: white;
}

.nav-search-container {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.nav-search-bar {
  padding: 5px 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ddd;
  width: 100%;
}

.nav-search-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  border-radius: 0 4px 4px 0;
  background-color: #333;
  border: none;
  cursor: pointer;
  color: #FFF;
}

.nav-list a i.fa-solid.fa-cart-shopping {
  color: #FFF;
}

.nav-list .nav-search-button{
  background-color:#e5c275;
}

.nav-list .nav-search-button .fa-magnifying-glass{
  color:#1c1616;
}

/* Button */
.actions li button{
  transform:translatex(-27px) translatey(0px);
 }

 /* Button */
 #root .app-container .nav-bar .nav-list .nav-login-item .profile-container .profile-dropdown .actions li button{
  width:122% !important;
 }

